PORT=3000
NODE_ENV=development

DATABASE_URL=postgres://username:password@localhost:5432/nfc_payment

JWT_SECRET=your-jwt-secret-key

IPAY_API_URL=https://gate.infinitypay.uz/gateway
IPAY_SERVICE_ID=your-service-id
IPAY_SECRET_KEY=your-secret-key
IPAY_VENDOR_ID=your-vendor-id
IPAY_ACCOUNT=your-account

ADMIN_API_KEY=your-admin-api-key
REDIS_URL=redis-url

IPAY_AUTH_KEY=ipay-auth-key